*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-width: 100vh;
    flex-direction: column;
}

/* header section */
.nav-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.content{
    margin-top: 50px;
}
.content > div{
    padding: 15px;
}
.nav-bar ul li a {
    text-decoration: none;
    color: #111;
    display: block;
    height: 50px;
    line-height: 50px;
}
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar > ul > li > a {
    background: #333;
    color: #fff;
}
.nav-bar > ul > li > a:hover{
    background: white;
    color: black;
}
.nav-bar .avtive{
    background: white;
    color: black;
}
.nav-bar li{
    float: left;
    width: 25%;
    text-align: center;
    border-left: 1px solid #333;
}
.nav-bar li:last-child{
    border: none;
}

/* gallery section */
.content .image-container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    height: auto;
    background: gold;
}
.content .image-container{
    display: block;
    columns: 2;
}
div.gallery{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px dotted gray;
    border-radius: 10px;
    float: left;
}
img{
    transition: all 300ms;
    border-radius: 10px;
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
img:hover{
    transform: scale(1.5);
}
.image-description{
    padding: 0 15px 15px 15px;
    text-align: center;
}

/* footer section */
footer{
    color: #fff;
    background: #333;
    position: relative;
    font-size: 80%;
}
.footer-copyright{
    width: 100%;
    height: 40px;
    background: #111;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.footer-body{
    margin-bottom: 40px;
    padding: 30px;
}
.footer-body > div:first-child{
    font-size: 150%;
}
.footer-body ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-body li > a{
    color: white;
    text-decoration: none;
    margin-bottom: 7px;
}