body{
    font-family: 'ubuntu', sans-serif;
}
section h2{
    width: 100%;
}
h2{
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 50px;
    color: white;
    background: hsl(0, 0%, 0%);
}
h1{
    font-size: 50px;
    font-weight: 700;
    padding-left: 100px;
    padding-top: 0%;
}
.col{
    columns: calc(2);
}
div.box{
    width: 100%;
    object-fit: contain;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}
div.box:hover {
    border: 1px solid #777;
}
div.box img {
    width: 100%;
    height: auto;
}
